<!-- Navigation -->
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li>
          <a href="{{ site.baseurl }}/">Home</a>
      </li>
      {% for page in site.pages %}{% if page.title != "Contact" %}
      <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}{% endfor %}
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li>
        <a href="{{ site.baseurl }}/">Home</a>
    </li>
    {% for page in site.pages %}{% if page.title %}{% if page.title != "Contact" %}
    <li>
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </li>
    {% endif %}{% endif %}{% endfor %}
  </ul>
 <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
</nav>
