---
layout: default
---

<!-- Page Header -->
<main>
<div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <h1 class="header center-on-small-only">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          <div class='row center'>
            <h4 class ="header col s12 light center">{{ page.description }}</h4>
          </div>
        </div>
</div>
</main>
<!-- Main Content -->

	<div class="row">
	<div class="col-md-10 col-md-offset-1">
			{{ content }}
	</div>
	</div>

<hr>
